body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333333;
  box-sizing: border-box;
}
/*==========all footer======*/
.container {
  /* max-width: 80px;*/
  margin: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  line-height: 1.6;
  justify-content: center;
}

h2 {
  color: #883d1a;
  font-size: 30px;
  border-bottom: 2px solid grey;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 18px;
  color: #555555;
}

.section {
  margin: 30px;
}

/*------mediaquery for mobile device----*/
@media (max-width: 600px) {
  .image-slider {
    height: 250px;
  }

  .section h3 {
    font-size: 23px;
  }
  .section h2 {
    font-size: 16px;
  }
  .section p {
    font-size: 17px;
  }
}
/*FAQ css*/
.faq-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
  background-color: #eff2f8;
}

.faq-box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/*--for mobile--*/
@media (max-width: 600px) {
  .faq-box {
    padding: 15px;
  }
}

