* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

/*-------------------navbar------------------------*/
.logo {
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px;
}
.logo img:hover {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.icon {
  align-items: center;
  font-size: 26px;
  color: #883d1a;
  display: none;
}

nav {
  display: flex;
  background-color: burlywood;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 80px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  cursor: pointer;
  /*
 position: sticky;
  top: 0;
  cursor: pointer;*/
}
nav ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li a {
  margin-right: 12px;
  margin-inline: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: solid;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #883d1a;
  background: white;
}
/*--==================Responsive navbar===============--*/
@media only screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
  .icon {
    display: flex;
    cursor: pointer;
    margin-right: 15px;
  }
  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    background-color: rgb(247, 217, 178);
    width: 100%;
    height: 240px;
    text-align: center;
    padding: 0;
    gap: 22px;
    margin-right: 0%;
  }
  .showData li a {
    text-decoration: solid;
  }
  .showData li a:hover {
    background: none;
  }
}
/*----------------hero section----------*/
.hero-section {
  padding: 9.6rem 9.6rem;
  background-color: #f2f2f2;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/hero-image.png);
  background-size: cover;
  background-position: center;
}
.hero-text h2 {
  font-size: 3.2rem;
}
.hero-text p {
  font-size: 1.4rem;
}
marquee {
  font-size: 30px;
  color: #883d1a;
  font-weight: solid;
  font-family: serif;
}
/*search box*/
.search-container {
  background: transparent;
  margin-top: 20px;
  padding: 20px;
}
.search-box {
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.search-item label {
  font-weight: 500;
  color: #883d1a;
  font-size: 18px;
}
input,
button {
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin-bottom: 8px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
}
button {
  background-color: #883d1a;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
}
button:hover {
  background-color: burlywood;
  color: #333;
}
/*-------------media query-----------------*/
@media screen and (max-width: 768px) {
  .hero-section {
    padding: 3rem;
    height: auto;
  }
  .hero-text h2 {
    font-size: 2.6rem;
    margin-bottom: 3px;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
  .search-container {
    width: auto;
    margin: 0px;
  }

  .search-box {
    flex-direction: column;
    padding: 20px;
  }
  .search-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .search-item label {
    margin-bottom: 5px;
  }
  input {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
  }
}

/*-----------------------about section------------------------
.about-us-container {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 20px;
}

.image-slider {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-image: url("../images/1.jpg");
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: changeImage 15s linear infinite;
  padding-bottom: 10px;
  margin: 50px;
}
@keyframes changeImage {
  0% {
    background-image: url("../images/1.jpg");
  }
  25% {
    background-image: url("../images/1.jpg");
  }
  50% {
    background-image: url("../images/2.jpg");
  }
  75% {
    background-image: url("../images/3.jpg");
  }
  100% {
    background-image: url("../images/4.jpg");
  }
}

.about-description {
  width: 100%;
  margin: 20px;
  text-align: left;
}
.about-description h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #333;
}
.about-description h2 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #883d1a;
}

.about-description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.read-more-btn a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  background-color: #883d1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-btn :hover {
  background: burlywood;
}*/

/* -------Media query for mobile devices-------- */
@media screen and (max-width: 600px) {
  .about-us-content {
    flex-direction: column;
  }
  .about-description h1,
  h2,
  p,
  a {
    margin: 0 20px 20px;
  }
  .about-description h1 {
    font-size: 26px;
  }
  .about-description h2 {
    font-size: 20px;
  }
  .about-description p {
    font-size: 15px;
  }
  .read-more-btn a {
    padding: 5px 10px;
    font-size: 15px;
  }

  .image-slider {
    height: 170px;
    width: 80%;
    margin: 20px 20px 0;
    border-radius: 5px;
  }
}

/*--------------Room section--------------------*/
.room-section {
  flex-wrap: wrap;
  padding: 10px;
  max-width: 100%;
  margin: auto;
  padding: 25px;
  background: #f2f2f2;
  border-bottom: 2px solid black;
}

.heading h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-top: 2px;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
}

.room-list .room-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
  margin: 5px;
}

.room-list .room-item:hover {
  border: 2px solid #883d1a;
}

.room-list .room-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.room-details {
  padding: 16px;
}

.room-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.room-location {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
/*.room-location i {
  color: #883d1a;
}*/

.room-price {
  font-size: 15px;
  font-weight: bold;
  color: #883d1a;
}
.view-details-btn a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  background-color: #883d1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-details-btn :hover {
  background: burlywood;
}

@media (max-width: 1200px) {
  .room-list .room-item {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  .room-list {
    margin: 0 auto;
  }
  .heading h2 {
    font-size: 1.5rem;
  }
  .view-details-btn a {
    padding: 5px 10px;
    font-size: 15px;
  }
}
/*----------all rooms section----------*/
.room-section2 {
  flex-wrap: wrap;
  padding: 10px;
  max-width: 100%;
  margin: auto;
  padding: 25px;
  background: #f2f2f2;
}



/*------------footer css--------*/
.footer-bar {
  width: 100%;
  height: 80%;
  padding: 10px;
  text-align: center;
  background-color: burlywood;
  box-shadow: 0 0 20px rgba(0 0 0 0.1);
  position: sticky;
  top: 100%;
}
.footer-bar .footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 2px solid white;
}
.footer-bar .footer-list .footer-item {
  margin: 0 10px;
  display: inline-block;
}
.footer-bar .footer-list .footer-item a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: solid;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.footer-bar .footer-list .footer-item a:hover {
  color: #883d1a;
  background: white;
}

.copyright {
  margin: 5px;
  font-size: 25px;
}
.copyright p {
  color: white;
  padding: 5px;
}
/*--==================Responsive footer===============--*/
@media (max-width: 600px) {
  .footer-bar {
    width: 100%;
    height: auto;
  }
  .footer-bar .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-bar .footer-list .footer-item {
    margin: 10px 0;
  }
}
.copyright {
  font-size: 15px;
}
